/* Gradient Container */
.G_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right top, #116af1, #009bff, #00bad8, #00ce7c, #94d600);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease;
}


.G_colorBtn {
    background-color: #693a7d;
    color: #fff;
    height: 50px;
    width: 180px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.094em;
    text-transform: uppercase;
}

.Gbtns_p {
    color: #000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 3px;
}

.Gbtns_p:hover {
    color: #000;
    border: 1px solid #171313;
    box-shadow: 0px 0px 8px black;
}

.cpyCode {
    font-family: 'Space Mono', monospace;
    width: fit-content;
    margin: 20px auto;
    display: block;
    line-height: 1.4;
    letter-spacing: 0.2px;
    border-left: 3px solid #fff;
    background-color: rgba(189, 189, 189, 0.1);
    padding: 15px 8px 15px 17px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.a1 {
    transform: rotate(270deg);
}

/* Rotates the arrow for 'to bottom' position */
.a2 {
    transform: rotate(90deg);
}

/* Flips and rotates the arrow for 'to left' position */
.a3 {
    transform: rotate(180deg);
}

/* Rotates the arrow for 'to right' position */
.a4 {
    transform: rotate(0deg);
}

/* Rotates the arrow for 'to top left' position */
.a5 {
    transform: rotate(235deg);
}

/* Rotates the arrow for 'to top right' position */
.a6 {
    transform: rotate(-45deg);
}

/* Rotates the arrow for 'to bottom left' position */
.a7 {
    transform: rotate(125deg);
}

/* Rotates the arrow for 'to bottom right' position */
.a8 {
    transform: rotate(45deg);
}