.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  z-index: 111;
  border-right: 1px solid aqua; /* Change border to right side */
  background-color: white;
  flex-direction: column; /* Change flex direction to column */
  font-size: 1.6rem;
  color: #000000a7;
  font-weight: bold;
}

.Logo {
  width: 20rem;
  height: 5.7rem;
  transform: scale(.8);
}

.nav-content {
  display: flex;
  flex-direction: column; /* Align links vertically */
  gap: 2rem;
}

.nav-fontsize {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.links:hover {
  color: #89CFF0;
  cursor: pointer;
}

.img {
  width: 11rem;
  height: 10rem;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 2px;
}

.links {
  display: inline-block;
  padding: 0px 14px;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.links:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.links:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.links:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.links:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.links:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.4rem;
  cursor: pointer;
}

.line {
  width: 100%;
  height: .3rem;
  background-color: var(--blue);
  transition: all 0.3s ease;
}

.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media screen and (max-width: 600px) {
  .nav-main {
    width: 5rem; /* Adjust width for small screens */
    height: 100%;
    justify-content: center;
    padding: 20px 0; /* Adjust padding */
    border-right: none; /* Remove right border */
  }
  
  .nav-content {
    display: none;
  }
  
  .nav-main.open .nav-content {
    display: none;
  }
  
  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
