@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.377);
}

@media (width <=876) {
    html {
        font-size: 8px;
    }
}

:root {
    --background: rgba(14, 18, 23, 255);
    --card: #323b3c;
    --name: #3b414c;
}

.active::before {
    content: "";
    color: rgb(0, 0, 0);
    background-color: rgba(110, 110, 110, 0.753);
    width: 10px;
    position: absolute;
    left: 0;
}

.active{
    color: rgb(0, 0, 0);

}
body {
    background-color: #ffffff;
}

.shadows1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}   

.G_colorBtn {
    background-color: #693a7d;
    color: #fff;
    height: 5.6rem;
    width: 18rem;
    margin: 1rem;
    border-radius: 50px;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.094em;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .G_colorBtn:hover {
    transform: translateY(-5px); /* Add a subtle hover effect */
  }
